.header_logo__ {
  min-width: 263px;
  display: block;
  position: relative;
  height: 100%;
  margin-inline-end: 160px;
  padding: 25px 0;
  z-index: 2;

  @include sm {
    max-width: 180px;
    min-width: 180px;
    margin-inline-end: 0;
  }

  @include xs {
    padding: 15px 0;
  }

  .figure__ {
    width: 100%;
  }

  img {
    width: 100%;
    object-fit: contain;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    // inset-inline-start: -50px;
    inset-inline-end: calc(0% - 100px);
    height: 100%;
    width: 500%;
    background-color: #fff;
    transform: skew(-45deg);
    z-index: -1;

    @include dir {
      transform: skew(45deg);
    }

    @include xs {
      inset-inline-end: calc(0% - 30px);
    }
  }
}
