// dropdown menue
.dropdown__ {
  position: relative;

  > a,
  .butt__ {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    color: $headingMainColor;
    font-size: 14px;

    &::after {
      content: url(../images/shapes/arrow-down.svg);
      margin: 0;
      margin-right: 0;
      display: inline-block;
      vertical-align: middle;
      border: none !important;
      margin-top: 0;
      margin-inline-start: 6px;
      transition: 0.5s;

      @include sm {
        transform: scale(0.5);
      }
    }

    &:hover {
      text-decoration: none;
    }
  }

  .sub-menu__ {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    display: table;
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: transparent;
    z-index: -1;
    width: 100%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 5px 0;
    border: none;
    transform-origin: center 0;
    transition: 0.5s;
    visibility: hidden;
    padding: 0 !important;
    opacity: 0;
    border-radius: $mainBorderRadius;
    transition: 0.5s;
    // padding: 12px 17px;
    overflow: hidden !important;
    transform: translateX(-50%);

    @include sm {
      min-width: 152px;
    }

    li {
      background-color: $secondaryColor;

      // &:first-child {
      //   border-radius: $mainBorderRadius $mainBorderRadius 0 0;
      // }

      // &:last-child {
      //   border-radius: 0 0 $mainBorderRadius $mainBorderRadius !important;
      // }
      a {
        font-size: 14px;
        font-weight: 500;
        display: block;
        text-decoration: none;
        text-transform: capitalize;
        transition: 0.5s;
        color: #fff;
        padding: 0;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        transition: 0.5s;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &:hover {
    a::after {
      transform: rotate(180deg);
    }

    .sub-menu__ {
      visibility: visible;
      opacity: 1;
      z-index: 111;
    }
  }
}
