.input__ {
  height: 56px;
  border: solid 1px $inputBorderColor;
  background-color: transparent;
  outline: none;
  width: 100%;
  font-size: 14px;
  color: $headingMainColor;
  padding: 20px 29px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  border-radius: $secondaryBorderRadius !important;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }

  &:focus,
  &:hover {
    border-color: $primaryColor;
  }

  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }

  &::placeholder {
    color: #5b5b5b;
    opacity: 1;
    transition: 0.5s;
  }
}
