// .radio-om {
//     cursor          : pointer;
//     margin          : 0;
//     padding         : 0;
//     width           : 16px;
//     height          : 16px;
//     background-color: #fff;
//     border          : 1px solid #e8e8e8;
//     opacity         : 0.4;

//     &:checked {
//         opacity: 1;
//     }
// }

.radio-group-om {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
  position: relative;
  padding: 27px 17px;
  overflow: hidden;
  border-radius: $mainBorderRadius;
  width: 93px;
  height: 65px;

  @include sm {
    justify-content: center;
  }

  @include xs {
    width: calc(100% / 3);
  }

  .bg_overlay__ {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 0;
    transition: 0.5s;
    top: 0;
    left: 0;
  }

  .radio-om {
    opacity: 0 !important;
    visibility: hidden !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    &:checked {
      + .radio-label-om {
        border-color: #fff;
        background-image: url(../images/shapes/check.svg);
        visibility: visible;
        opacity: 1;
        display: block;
      }

      ~ .bg_overlay__ {
        background-color: $primaryColor !important;
      }

      ~ .text_ {
        color: #fff;
      }
    }
  }

  .radio-label-om {
    position: relative;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    background-color: transparent;
    border: 1px solid transparent;
    background-position: center center;
    background-size: 11px;
    background-repeat: no-repeat;
    visibility: hidden;
    opacity: 0;
    display: none;
    flex-shrink: 0;
    z-index: 1;
  }

  .text_ {
    position: relative;
    margin: 0;
    margin-inline-start: 5px;
    cursor: pointer;
    color: $headingMainColor;
    font-size: 16px;
    font-weight: 700;
    z-index: 1;

    @include dir {
      font-size: 14px;
      margin: 0;
    }
  }
}
