.select__ {
  width: 100% !important;
  margin-bottom: 0;

  // button
  .dropdown-toggle {
    border-radius: $mainBorderRadius;
    border: solid 1px transparent;
    background-color: #fff;
    font-size: 14px;
    padding: 0 !important;
    font-stretch: normal;
    color: $paragraphMainColor;
    outline: none !important;
    width: fit-content;

    @include xs {
      width: 80%;
      font-size: 10px !important;
    }

    &::after {
      content: url(../images/shapes/select_arrow_down.svg);
      margin: 0;
      margin-right: 0;
      display: inline-block;
      vertical-align: middle;
      border: none !important;
      margin-top: 0;
      margin-inline-start: 15px;
    }

    .filter-option {
      margin-inline-end: 15px;
      text-align: right;

      @include dir {
        text-align: left;
      }
    }

    &:focus,
    &:active {
      background-color: #fff !important;
      border-color: $primaryColor !important;
      color: $headingMainColor !important;
      outline: none !important;
      box-shadow: none !important;
    }
  }

  &.show {
    > .btn-light.dropdown-toggle {
      background-color: #fff !important;
      border-color: $primaryColor !important;
      color: $headingMainColor !important;
      outline: none !important;
    }
  }

  // list items
  .dropdown-menu {
    li {
      .dropdown-item {
        outline: none !important;
        font-size: 14px;
        color: $headingMainColor;
        border-radius: 0;

        &.active,
        &:active,
        &:hover {
          outline: none !important;
          background-color: $primaryColor;
          color: #fff;
        }
      }
    }
  }
}
