.about_us_page__ {
  .intro_main_title__,
  .site_name__ {
    padding-inline-start: 12px;
    color: $headingMainColor;
    font-size: 45px;
    font-weight: 700;
    // margin-bottom: 20px;
    line-height: 222.6%; /* 66.78px */

    @include md {
      font-size: 30px;
    }

    @include xs {
      font-size: 25px;
      text-align: center;
    }
  }

  .site_name__ {
    padding: 0;
    color: $primaryColor;
  }

  .main_section__ {
    .sub_title__ {
      color: $headingMainColor;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 22px;
      display: flex;
      align-items: center;
      padding-inline-start: 12px;
      gap: 10px;
    }

    .parag__ {
      color: $paragraphMainColor;
      font-size: 16px;
      font-weight: 400;
      padding: 5px 12px;
      line-height: 30px;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    .special_parag__ {
      background-color: $sectionBackgroundColor;
      border-right: 3px solid $primaryColor;
      position: relative;
      margin-top: 8px;

      &::after {
        content: "";
        position: absolute;
        top: -6px;
        inset-inline-start: -8px;
        width: 13px;
        height: 13px;
        background-color: $primaryColor;
        transform: rotate(45deg);
      }
    }

    .img_wrapper__ {
      padding: 18px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        inset-inline-start: 0;
        background-color: #55c6d0;
        border-radius: $secondaryBorderRadius;
        width: 85%;
        height: 65%;
        z-index: -1;
      }
    }

    .main_photo_figure__ {
      padding-bottom: 99.8204%;
      border-radius: $secondaryBorderRadius;
      overflow: hidden;
    }

    .about_us_experience_years_wrapper__ {
      background-color: $primaryColor;
      padding: 25px 50px;
      padding-inline-end: 80px;
      position: absolute;
      top: 60%;
      inset-inline-start: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);

      .text__ {
        color: #fff;
        text-align: center;
        font-size: 20px;
        font-weight: 700;

        &:first-of-type {
          font-size: 30px;
        }
      }
    }
  }

  .our_message_cards_wrapper__ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 200px;
    position: relative;
    gap: 10px;

    @include xs {
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
      margin-top: 50px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: calc(100% + 150px);
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 72.7%;
      background-color: $borderColor;

      @include md {
        width: 67%;
      }

      @include xs {
        width: 50%;
        left: unset;
        transform: unset;
        inset-inline-start: 0;
        bottom: calc(100% + 30px);
      }
    }

    @include xs {
      &::before {
        content: "";
        width: 1px;
        background-color: $borderColor;
        height: 84.5%;
        position: absolute;
        top: -30px;
        inset-inline-start: 0;
      }
    }
  }
}
