.default_page__ {
  padding: 100px 0;

  @include sm {
    padding: 60px 0;
  }

  @include xs {
    padding: 25px 0;
  }
}

.default_section__ {
  padding: 55px 0;

  @include sm {
    padding: 30px 0;
  }

  @include xs {
    padding: 20px 0;
  }
}

.row_modify {
  display: flex;
  align-items: center;

  @include md {
    justify-content: center;
  }

  &.with_row_gap {
    row-gap: 30px;

    @include xs {
      row-gap: 15px;
    }
  }

  &.with_margin_bottom__ {
    margin-bottom: 30px;
  }

  &.reverse_dir_column_small_size {
    @include sm {
      flex-direction: column-reverse;
    }
  }

  &.justify_between__ {
    justify-content: space-between;
  }
}

.col_start__ {
  align-self: flex-start;
}

.col_end__ {
  align-self: flex-end;
}

.col_center__ {
  align-items: center;
}

.col_flex {
  display: flex;
}
