.intro_section {
  background-image: url(../images/intro/intro_section_background.jpg);
  background-position: center center;
  background-size: cover;
  padding: 60px 0 50px;
  position: relative;

  @include md {
    padding: 30px 0 25px;
  }

  @include xs {
    padding: 20px 0;
  }

  .intro_content__ {
    position: relative;
    z-index: 5;
  }

  .intro_main_title__,
  .site_name__ {
    color: $headingMainColor;
    font-size: 45px;
    font-weight: 700;
    // margin-bottom: 20px;
    line-height: 222.6%; /* 66.78px */

    @include md {
      font-size: 30px;
    }

    @include xs {
      font-size: 25px;
      text-align: center;
    }
  }

  .site_name__ {
    color: $primaryColor;
  }

  .sub_title__ {
    color: $headingMainColor;
    font-size: 30px;
    font-weight: 700;
    line-height: 222.6%; /* 66.78px */

    @include md {
      font-size: 20px;
    }

    @include xs {
      font-size: 18px;
      text-align: center;
    }

    &:last-of-type {
      margin-bottom: 40px;

      @include sm {
        margin-bottom: 20px;
      }

      @include xs {
        margin-bottom: 10px;
      }
    }
  }

  .intro_main_figure__ {
    position: absolute;
    bottom: 0;
    inset-inline-end: 0;
    width: 600px;

    @include dir {
      transform: scaleX(-1);
    }

    @include sm {
      // position: static !important;
      // margin-top: 15px;
      z-index: 0;
      opacity: 0.35;
    }

    @include xs {
      width: 100%;
      max-height: 100%;
    }
  }

  .figure__ {
    padding-bottom: 66.6666%;
  }
}

.real_estate_sections_section {
  background-color: $sectionBackgroundColor;
}

.about_us_section__ {
  background-color: $primaryColor;
  padding: 45px 0;

  .about_us_content_wrapper__ {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include xs {
      flex-wrap: wrap;
      gap: 10px;
      row-gap: 20px;
    }

    @include xxs {
      flex-wrap: wrap;
      row-gap: 20px;
      justify-content: center;
    }
  }
}

.our_customer_opinion {
  .slider_content_wrapper__ {
    position: relative;
    display: flex;
    align-items: center;
    gap: 50px;

    @include xs {
      gap: 10px;
    }
  }
}

.contact_us_section__ {
  background-color: rgba($primaryColor, 0.14);

  .contact_us_block_wrapper__ {
    padding: 0 115px;

    @include sm {
      padding: 0 50px;
    }

    @include xs {
      padding: 0;
    }
  }

  .block_title__ {
    color: $headingMainColor;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  &.none_background {
    background-color: transparent !important;
  }
}
