.product_page__ {
  .product_main_slider__ {
    position: relative;

    .swiper {
      border-radius: $secondaryBorderRadius;
      overflow: hidden;
    }

    .figure__ {
      padding-bottom: 56.1034%;
    }
  }

  .real_estate_status__ {
    position: absolute;
    top: 0;
    inset-inline-end: 0;
    padding: 13px 35px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    border-radius: $mainBorderRadius $mainBorderRadius 15px $mainBorderRadius;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }

  .product_location {
    background-color: $primaryColor;
    height: 65px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: $secondaryBorderRadius;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    gap: 10px;
    z-index: 10;

    .icon__ {
      filter: brightness(0) invert(1);
    }
  }

  .product_thumbnails_slider__ {
    .figure__ {
      border-radius: $secondaryBorderRadius;
      overflow: hidden;
      padding-bottom: 53.3333333%;
    }
  }
  
  .video__ {
    position: absolute;
    width: auto;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .title_wrapper__ {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    @include xs {
      flex-direction: column;
    }
  }

  .title__ {
    color: $headingMainColor;
    font-size: 20px;
    font-weight: 700;
  }

  .license_number__ {
    background-color: $sectionBackgroundColor;
    padding: 15px 30px;
    margin-bottom: 10px;
    border-inline-end: 1px solid #000;
    border-inline-start: 1px solid #000;
    margin-top: 10px;
    width: fit-content;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;

    @include xs {
      width: 100%;
    }

    .license_number_title__ {
      display: block;
      font-weight: 700;
    }
  }

  .parag {
    color: $paragraphMainColor;
    font-size: 16px;
    font-weight: 400;
  }

  .product_thumbnails_slider__ {
    max-height: 472px;
    overflow: hidden;
    overflow-y: scroll;
    
    @include xxs {
      overflow-y: unset;
      overflow-x: scroll;
    }
    .swiper-slide {
      cursor: pointer;
    }
  }

  &.for_sell__ {
    .real_estate_status__ {
      background-color: $mainBlueColor;
    }
  }

  &.for_rent__ {
    .real_estate_status__ {
      background-color: $secondaryColor;
    }
  }
}
