.footer_sec__ {
  position: relative;
  padding: 44px 0 30px;
  background-color: transparent;
  overflow: hidden;

  @include xs {
    padding: 30px 20px;
  }

  &::after {
    content: "";
    background: linear-gradient(
      90deg,
      $primaryColor 0% 52%,
      $sectionBackgroundColor 52% 100%
    );
    transform: skewX(-45deg) translateX(-50%);
    width: 150%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;

    @include dir {
      transform: skewX(45deg) translateX(-50%);
      background: linear-gradient(
        -90deg,
        $primaryColor 0% 52%,
        $sectionBackgroundColor 52% 100%
      );
    }

    @include sm {
      background: linear-gradient(
        to bottom,
        $primaryColor 0% 82%,
        $sectionBackgroundColor 50% 100%
      );
      transform: skewY(-10deg) translateX(-50%);
      top: 20%;
    }

    @include xxs {
      top: 30%;
    }
  }
}

.footer_head__ {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 169.597%; /* 27.136px */
  margin-bottom: 15px;
}

.footer-logo__ {
  max-width: 270px;
  background-color: transparent !important;
  margin-bottom: 5px;

  img {
    max-width: 100%;
    height: auto;
  }

  @include sm {
    margin: 0 auto 30px;
    max-width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 10px;
  }
}

.footer_parg__ {
  width: 80%;
  color: $headingMainColor;
  font-size: 14px;

  @include sm {
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
  }
}

.footer_list__ {
  @include sm {
    margin-bottom: 40px;
  }

  li {
    margin-bottom: 20px;

    @include sm {
      margin-bottom: 10px;
    }
  }

  a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none !important;
    transition: 0.5s;

    &::before {
      content: "";
      display: block;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: transparent;
      border: 4px solid rgba(#fff, 0.4);
    }

    // @include sm {
    //   justify-content: center;
    // }

    &:hover {
      opacity: 71%;
      padding-inline-start: 10px;
    }
  }

  &.contact_info {
    a {
      &::before {
        display: none;
      }

      .figure__ {
        margin-inline-end: 10px;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
}

.footer_content__ {
  .row {
    display: flex !important;
    justify-content: space-between;
  }
}

.social_footer_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  li {
    a {
      background-color: rgba(#55c6d0, 0.5);
      width: 40px;
      height: 40px;
      display: grid;
      place-items: center;
      border-radius: $mainBorderRadius;
      transition: 0.5s;

      &:hover {
        background-color: rgba($secondaryColor, 1);
      }
    }
  }
}

.footer__loaction_text__ {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 169.597%; /* 27.136px */
}
