// swiper slider
.swiper-button-next,
.swiper-button-prev {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $primaryColor;
  transition: 0.5s;
  overflow: hidden;
  background-color: $primaryColor;
  border-radius: $secondaryBorderRadius;
  // top: 50%;
  // inset-inline-end: calc(100% + 50px);
  position: static !important;
  flex-shrink: 0;

  &.swiper-button-disabled {
    // opacity: 1;
  }

  &::after {
    content: url("../images/shapes/slider_arrow_left.svg");
    display: block;
    position: static;
    height: 59px;
    transform: rotateY(180deg);

    @include dir {
      transform: unset;
    }
  }

  &:hover {
    background-color: rgba($primaryColor, 0.8);

    &::after {
      filter: brightness(0) invert(1);
    }
  }
}

.swiper-button-next {
  // inset-inline-end: unset !important;
  // inset-inline-start: calc(100% + 50px);

  &::after {
    transform: unset;

    @include dir {
      transform: rotateY(180deg);
    }
  }
}

// swiper-pagination
.swiper-pagination {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  margin: 0 2px;
  border-radius: 50%;
  background-color: rgba(#86959f, 0.41);
  opacity: 1;
  width: 10px;
  height: 10px;

  &.swiper-pagination-bullet-active {
    // background-color   : $primaryColor;
    border-radius: 5px;
    background-color: $secondaryColor;
    width: 26px;
  }
}

// ###################################################################
