.button__ {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 10px;
  transition: 0.5s;

  .icon__ {
    flex-shrink: 0;
    transition: 0.5s;
  }

  &.center {
    margin: 0 auto;
  }

  &.full_width__ {
    width: 100%;
    min-width: 100%;
  }

  &.full_width_sm__ {
    @include sm {
      min-width: 100%;
      width: 100%;
    }
  }

  &.fixed_size__ {
    min-width: 140px;
  }

  &:focus {
    border: none;
    outline: none;
  }

  &:hover {
    text-decoration: none;
  }

  &.submit-button__,
  input[type="submit"] {
    height: 56px;
    color: #fff;
    padding: 0 30px;
    background: $primaryColor;
    border-radius: $mainBorderRadius;
    transition: 0.5s;

    &:hover {
      background-color: rgba($primaryColor, 0.9);
    }
  }

  &.search_button__ {
    background-color: $primaryColor;
    border-radius: $mainBorderRadius;
    padding: 12px 14px;
    height: 60px;
    width: 64px;

    @include sm {
      height: 100%;
      width: 100%;
    }
  }
}
