.link__ {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  gap: 10px;
  transition: 0.5s;

  &:hover {
    text-decoration: none;
  }

  &.center {
    margin: 0 auto;
  }

  &.full_width__ {
    width: 100%;
    min-width: 100%;
  }

  &.full_width_sm__ {
    @include sm {
      min-width: 100%;
      width: 100%;
    }
  }

  &.fixed_size__ {
    max-width: 395px;
    min-width: 395px;

    @include sm {
      min-width: 100%;
      max-width: 100%;
    }
  }

  &.main_link {
    height: 56px;
    color: #fff;
    padding: 0 30px;
    background: $primaryColor;
    border-radius: $mainBorderRadius;

    &:hover {
      background-color: rgba($primaryColor, 0.9);
    }
  }

  &.real_estate_card_link__ {
    border: 1px solid $primaryColor;
    height: 45px;
    padding: 10px 20px;
    color: $primaryColor;
    font-family: Cairo;
    font-size: 14px;
    font-weight: 600;
    border-radius: $mainBorderRadius;

    &:hover {
      background-color: $primaryColor;
      color: #fff;
    }
  }

  &.contact_content_link__ {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background-color: rgba($primaryColor, 0.22);
    padding: 10px;
    border-radius: $mainBorderRadius;

    .icon__ {
      background-color: rgba($primaryColor, 0.48);
      padding: 13px;
      border-radius: $mainBorderRadius;
      width: 58px;
      height: 58px;
    }

    .title__ {
      color: $headingThirdColor;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 5px;
    }

    .sub_title__ {
      color: $headingMainColor;
      font-size: 18px;
      font-weight: 500;
      margin: 0;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &.whats_app_link__ {
    background-color: $whatsappColor;
    padding: 10px 20px;
    color: #fff;
    border-radius: $mainBorderRadius;

    &:hover {
      background-color: rgba($whatsappColor, 0.9);
    }
  }

  &.number_link__ {
    background-color: $linkedinColor;
    padding: 10px 20px;
    color: #fff;
    border-radius: $mainBorderRadius;
    direction: ltr;

    &:hover {
      background-color: rgba($linkedinColor, 0.9);
    }
  }
}
