// Main colors
$primaryColor: #55a0a6;
$secondaryColor: #f90;

$borderColor: #d9d9d9;
$sectionBackgroundColor: #f5f5f5;
$mainBlueColor: #0a60e1;
$mainGreenColor: #0f9980;
$inputBorderColor: #b1b1b1;
$aboutUsCardsBgColor: #f3f8f9;

$mainRedColor: #f54748;
$borderBreakColor: #d9e0e5;

// Head colors
$headingMainColor: #000;
$headingSecondaryColor: #333743;
$headingThirdColor: #272727;

// Paragraph Colors
$paragraphMainColor: #6c6c6c;
$paragraphSecondaryColor: #5b5b5b;

//Brands Colors
$twitterColor: #14171a;
$twitterSecondaryColor: #1da1f2;
$facebookColor: #1877f2;
$linkedinColor: #0a66c2;
$whatsappColor: #075e54;
$instagramColor: #405de6;
$instagramSecondaryColor: #fd1d1d;
$snapchatColor: #fffc00;

//Border radius
$mainBorderRadius: 5px;
$secondaryBorderRadius: 10px;

$dir: "ltr";
