.about_us_info_wrapper__ {
  display: flex;
  align-items: center;
  gap: 20px;

  @include xs {
    width: calc(50% - 5px);
  }

  .title__,
  .counter__ {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
    color: #fff;
    font-size: 28px;
    font-weight: 800;
    direction: ltr;

    @include xs {
      font-size: 18px;
    }

    @include dir {
      justify-content: flex-start;
    }
  }

  .counter__ {
    margin-inline-start: -20px;
  }

  .sub_title__ {
    color: $sectionBackgroundColor;
    font-size: 18px;
    font-weight: 700;
    margin: 0;

    @include xs {
      font-size: 13px;
    }
  }
}
