.modal {
  .close {
    position: absolute;
    top: 5px;
    inset-inline-start: 10px;
  }

  .modal-content {
    padding: 50px;
    border-radius: $mainBorderRadius;
    text-align: center;
  }
}

.modal-dialog {
  max-width: 489px;
}
