.goal_text__ {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 25px;
  border-radius: $secondaryBorderRadius;
  background-color: $sectionBackgroundColor;
  color: $headingMainColor;
  font-size: 18px;
  font-weight: 500;

  @include xs {
    font-size: 15px;
  }

  &::before {
    content: url(../images/shapes/our_goals_title_shapre.svg);
    height: 33px;
  }
}
