.site_link {
  margin: 0 auto;
  margin-top: 50px;
  width: 200px;
  height: 65px;
  border-radius: 10px;
  background: $primaryColor;
  color: #fff;
  font-size: 18px;
  font-weight: 700;

  @include xs {
    min-width: 100%;
  }

  &:hover {
    background-color: rgba($primaryColor, 0.9);
    text-decoration: none;
    color: #fff;
  }

  .icon__ {
    margin-inline-start: 6px;
  }
}
