.section_main_title__ {
  font-size: 22px;
  font-weight: 700;
  width: fit-content;
  color: $headingMainColor;
  margin-bottom: 12px;
  margin: 0;
  margin-bottom: 20px;
  position: relative;
  color: #000;
  text-align: center;

  &::after {
    position: absolute;
    content: "";
    width: 85%;
    height: 21px;
    background-color: rgba($primaryColor, 0.2);
    border-radius: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
  }
}

.section_sub_title__ {
  color: $paragraphMainColor;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.section_head_wrapper {
  margin-bottom: 40px;

  @include sm {
    margin-bottom: 30px;
  }

  @include xs {
    margin-bottom: 15px;
  }

  &.center {
    .section_main_title__,
    .section_sub_title__ {
      text-align: center;
      margin-inline-end: auto;
      margin-inline-start: auto;
    }
    .section_sub_title__ {
      display: inline-block;
      min-width: 100%;
    }
  }

  &.flex_display {
    display: flex;
    align-items: center;

    &.justify_content_between {
      justify-content: space-between;
    }
  }

  &.small_size_dir_column {
    @include sm {
      gap: 20px;
      flex-direction: column;
    }
  }

  &.small_size_center__ {
    @include sm {
      .page_main_title__,
      .page_sub_title__ {
        text-align: center;
        margin-inline-start: 0;
        margin-inline-end: 0;
      }
    }
  }

  &.none_margin__ {
    margin: 0 !important;
  }
}

.title_icon_wrapper__ {
  display: flex;
  align-items: center;
  gap: 10px;
}
