.mixitup_controls_wrapper__ {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  // gap: 15px;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 38px;
  flex-wrap: nowrap;
  background-color: #fff;
  border-radius: $secondaryBorderRadius;
  padding: 16px 0;
  list-style: none;
  max-width: 100%;

  @include sm {
    margin-bottom: 25px;
  }

  @include xs {
    margin-bottom: 10px;
    flex-wrap: wrap;
    gap: 10px;
  }

  .filter {
    color: $headingMainColor;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin: 0 32px;
    transition: 0.5s;
    position: relative;
    cursor: pointer;

    @include sm {
      font-size: 13px;
    }

    @include xs {
      font-size: 12px;
      margin: 0 10px;
    }

    &:not(:last-child) {
      &::before {
        content: "";
        position: absolute;
        inset-inline-end: -32px; // margin value
        top: 0;
        height: 100%;
        width: 1px;
        background-color: $borderColor;

        @include xs {
          inset-inline-end: -10px; // margin value
        }
      }
    }

    &::after {
      position: absolute;
      content: "";
      bottom: -3px;
      width: 100%;
      height: 1px;
      background-color: $primaryColor;
      left: 0;
      opacity: 0;
      transition: 0.5s;
    }

    &:hover {
      color: $primaryColor;
    }

    &.mixitup-control-active {
      color: $primaryColor;

      &::after {
        opacity: 1;
      }
    }
  }
}

.mixitup_box_list {
  display: flex;
  align-items: center;
  gap: 15px;
  min-height: 500px;

  .mix {
    width: 100%;
  }

  &.column_dir {
    flex-direction: column;
  }
}
