.no_data_wrapper__ {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  padding: 20px 0;

  .no_data_title__ {
    font-size: 20px;
    font-weight: 500;
    color: $headingMainColor;
    margin: 0;
  }

  @include xs {
    gap: 0;
    img {
      transform: scale(0.6);
    }
  }
}