.our_customer_opinion_card {
  background-color: $sectionBackgroundColor;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  border-radius: $secondaryBorderRadius;
  overflow: visible;
  margin-top: 55px;

  @include xs {
    padding: 20px;
    margin-top: 40px;
  }

  .img_wrapper__ {
    max-width: 110px;
    max-height: 110px;
    min-width: 110px;
    min-height: 110px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    flex-grow: 1;
    margin-top: -95px;

    @include xs {
      max-width: 110px;
      max-height: 110px;
      min-width: 80px;
      min-height: 80px;
      margin-top: -60px;
    }
  }

  .figure__ {
    padding-bottom: 100%;
  }

  .card_head_wrapper__ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -15px;
    margin-bottom: 15px;

    @include md {
      margin-top: 10px;
    }

    @include xs {
      flex-direction: column;
      gap: 10px;
      justify-content: center;
    }
  }

  .title__ {
    color: $headingMainColor;
    font-size: 18px;
    font-weight: 700;
    line-height: 154.6%; /* 27.828px */
    margin-bottom: 5px;

    @include xs {
      text-align: center;
      font-size: 16px;
    }
  }

  .sub_title__ {
    color: $paragraphSecondaryColor;
    font-size: 16px;
    font-weight: 400;
    line-height: 154.6%; /* 24.736px */
    margin: 0;

    @include xs {
      text-align: center;
      font-size: 14px;
    }
  }

  .rating_wrapper__ {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: rgba($secondaryColor, 0.36);
    padding: 5px;
    border-radius: $mainBorderRadius;
  }

  .rating_with_number {
    color: $headingMainColor;
    font-size: 16px;
    font-weight: 500;
    line-height: 154.6%; /* 24.736px */

    @include xs {
      font-size: 13px;
    }
  }

  .parag__ {
    color: $paragraphMainColor;
    font-size: 16px;
    font-weight: 400;
    line-height: 154.6%; /* 24.736px */

    @include xs {
      text-align: center;
      font-size: 13px;
      line-height: 120%; /* 24.736px */
    }
  }
}
