.our_vision_card {
  background-color: $aboutUsCardsBgColor;
  border: 1px solid #dcebed;
  border-radius: $secondaryBorderRadius;
  padding: 50px 70px;
  position: relative;
  z-index: -2;
  margin-top: 47px;

  .icon__ {
    width: fit-content;
    margin: 0 auto;
    width: 94px;
    height: 94px;
    padding: 20px;
    position: relative;
    margin-top: -97px;

    .img-om {
      z-index: 10;
    }

    &::after {
      content: "";
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $aboutUsCardsBgColor;
      border: 1px solid #dcebed;
      border-bottom-color: transparent !important;
      border-right-color: transparent !important;
      z-index: -1;
      transform: rotate(45deg);
    }
  }

  .title__ {
    color: $headingMainColor;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  .parag__ {
    color: $paragraphMainColor;
    text-align: center;
    font-family: Cairo;
    font-size: 14px;
    font-weight: 400;
  }
}
