.our_message_card__ {
  max-width: 321px;
  position: relative;

  @include xs {
    padding-inline-start: 50px;
  }

  .title__ {
    color: $headingMainColor;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px;

    @include xs {
      text-align: start;
    }
  }

  .parag__ {
    color: $paragraphMainColor;
    text-align: center;
    font-size: 14px;
    font-weight: 400;

    @include xs {
      text-align: start;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: calc(100% + 30px);
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 120px;
    background-color: $borderColor;

    @include xs {
      bottom: unset;
      left: unset;
      transform: unset;
      top: 15px;
      width: 25px;
      height: 1px;
      inset-inline-start: 0;
    }
  }

  &::before {
    content: url(../images/shapes/our_goals_title_shapre.svg);
    position: absolute;
    bottom: calc(100% + 15px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    @include xs {
      bottom: unset;
      left: unset;
      transform: unset;
      top: 0;
      inset-inline-start: 10px;
    }
  }
}
