.real_estate_card__ {
  padding: 15px;
  border-radius: $secondaryBorderRadius;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  .img_wrapper__ {
    border-radius: $mainBorderRadius;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
  }

  .figure__ {
    padding-bottom: 69.321%;
  }

  .real_estate_status__ {
    position: absolute;
    top: 0;
    inset-inline-end: 0;
    padding: 13px 20px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    border-radius: $mainBorderRadius $mainBorderRadius 15px $mainBorderRadius;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .head_wrapper__ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .title__ {
    color: $headingMainColor;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    transition: 0.5s;
  }

  .loaction_text__ {
    color: $headingMainColor;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-bottom: 1px solid $borderColor;
  }

  .card_footer_wrapper__ {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .date_title__ {
    color: $headingMainColor;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 5px;

    .date__ {
      color: $paragraphMainColor;
      font-size: 16px;
      font-weight: 600;
    }
  }

  &:hover {
    text-decoration: none;

    .title__ {
      color: $primaryColor;
    }
    .img-om {
      transform: scale(1.1);
    }

    .real_estate_card_link__ {
      background-color: $primaryColor;
      color: #fff;
    }
  }

  &.for_sell__ {
    .real_estate_status__ {
      background-color: $mainBlueColor;
    }
  }

  &.for_rent__ {
    .real_estate_status__ {
      background-color: $secondaryColor;
    }
  }
}
