.real_estate_info_wrapper__ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;

  .info__ {
    display: flex;
    align-items: center;
    gap: 5px;

    .icon__ {
      max-width: 33px;
      max-height: 29.431px;
    }

    .info_text__ {
      color: $paragraphSecondaryColor;
      font-size: 16px;
      font-weight: 500;
    }
  }

  &.single_page_real_estate_info__ {
    background-color: $sectionBackgroundColor;
    margin-top: 37px;
    border-radius: $secondaryBorderRadius;
    padding: 20px 70px;

    .info__ {
      flex-direction: column;
      justify-content: center;
      gap: 0;
    }

    .icon__ {
      max-width: 45px;
      max-height: 45px;
    }

    .info_text__ {
      color: $paragraphSecondaryColor;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 6px;
    }

    .info_number {
      color: $headingMainColor;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
    }
  }
}
