.services_card__ {
  background-color: $sectionBackgroundColor;
  padding: 40px 18px 66px;
  border-radius: $secondaryBorderRadius;
  position: relative;

  .icon__ {
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 7px;
    max-width: 102px;
    max-height: 102px;
  }

  .title__ {
    text-align: center;
    color: $headingMainColor;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
  }

  .parag__ {
    color: $paragraphMainColor;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 162.6%; /* 22.764px */
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    height: 9px;
    width: 100%;
    background-color: $mainGreenColor;
    left: 0;
    border-radius: 0 0 $mainBorderRadius $mainBorderRadius;
    opacity: 0;
    transition: 0.5s;
  }

  &::after {
    top: -10px;
    border-radius: 0 0 $mainBorderRadius $mainBorderRadius;
  }

  &::before {
    bottom: -10px;
    border-radius: $mainBorderRadius $mainBorderRadius 0 0;
  }

  &:hover {
    &::after,
    &::before {
      opacity: 1;
    }

    &::after {
      top: 0;
    }

    &::before {
      bottom: 0;
    }
  }
}
